<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/trip_map_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/trip_map_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelPlanner"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TravelPlanner.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.home.HomeLanding"
            android:exported="true"
            android:theme="@style/Theme.TravelPlanner.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--    Login files     -->
        <activity android:name=".ui.newuser.SignUp"/>
        <activity android:name=".ui.login.loginfailedActivity"/>
        <activity android:name=".ui.login.ForgotPassword"/>
        <activity android:name=".ui.login.ResetConfirmation"/>
        <activity android:name=".ui.login.ResetConfirmationFailed"/>
        <activity android:name=".ui.login.ResetConfirmationSuccess"/>
        <activity android:name=".ui.newuser.AccountCreationSuccess"/>

<!--    Home files    -->
        <activity android:name=".ui.home.AddTrip"/>
        <activity android:name=".ui.home.ViewTrips"/>

<!--    Itinerary files   -->
        <activity android:name=".ui.itinerary.TripDetails"/>
        <activity android:name=".ui.itinerary.ItineraryActivity"/>
        <activity android:name=".ui.itinerary.ViewSelection"/>
        <activity android:name=".ui.itinerary.PlannedActivity"/>
        <activity android:name=".ui.itinerary.activities.ActivityDetails"/>
        <activity android:name=".ui.itinerary.activities.SelectActivity"/>

        <activity android:name=".ui.itinerary.checklist.AddItems"/>
        <activity android:name=".ui.itinerary.checklist.PreTripChecklist"/>
        <activity android:name=".ui.itinerary.checklist.ShoppingList"/>

        <activity android:name=".ui.itinerary.luggage.ViewLuggage"/>
        <activity android:name=".ui.itinerary.luggage.SouvenirInformation"/>
        <activity android:name=".ui.itinerary.luggage.LuggageInformation"/>

<!--    Add files    -->
        <activity android:name=".ui.add.AddSelection"/>
        <activity android:name=".ui.add.AddChecklist"/>
        <activity android:name=".ui.add.AddLuggage"/>
        <activity android:name=".ui.add.AddActivity"/>

        <activity android:name=".ui.settings.SettingsActivity"/>
        <activity android:name=".ui.settings.AccountSettingsActivity"/>
        <activity android:name=".ui.settings.LogOut"/>
        <activity android:name=".ui.settings.RemindersNotifications"/>

        <!--    Map files    -->
        <activity android:name=".ui.map.MapActivity"/>

<!--    Data files    -->
        <activity android:name=".data.tripdata.Trip"/>
        <activity android:name=".data.tripdata.TripData"/>

        <activity android:name=".data.checklistdata.Checklist"/>
        <activity android:name=".data.checklistdata.ChecklistData"/>

        <activity android:name=".data.luggagedata.Luggage"/>
        <activity android:name=".data.luggagedata.LuggageData"/>

        <activity android:name=".data.AppData"/>
        <activity android:name=".data.User_Model"/>
        <activity android:name=".data.UserProfile"/>

    </application>

</manifest>